.list_of_paintings,
.vincent_Van_Gogh
{color: rgb(45, 196, 196);}

.starry_night 
{color: #184377;}

.starry_night_over_the_rhone 
{color: #0e3252;}

.sunflowers 
{color: #d97d1e;}

.selfportrait 
{color: #8baea1;}

.almond_flowers {color: #48adc3;}